body {
  background-color: black;
}



.map-container {
  height: 400px;
  margin-top: 5px;
}

.navbar {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #333;
  color: white;
}

.navbar a {
  color: rgb(159, 46, 46);
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  transition: color 0.2s ease-in-out;
}

.navbar a:hover {
  color: #ffc107;
}

.custom-modal {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  width: 400px;
  height: 180px;
  padding: 18px;
  border-radius: 4px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* adds a subtle shadow */
  background: linear-gradient(90deg, rgba(123, 39, 123, 1) 0%, rgba(67, 62, 213, 0.469) 50%, rgba(123, 39, 123, 1) 100%); /* adds a gradient background */
  border: 2px solid rgba(0, 0, 0, 0.2); /* adds a border */
}

.map {
  background-color: lightsteelblue;
}
